@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Variables */
  --primary-color: #333;
  --secondary-color: #555;
  --accent-color: #777;
  --text-color: #fff;

  /* Foreground and Background Colors */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245; /* Lighter background color */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 32, 32, 32;
    --background-end-rgb: 16, 16, 16;
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-start-rgb);
    color: var(--foreground-rgb);
  }
}

@layer components {
  .bg-primary {
    background-color: var(--primary-color);
  }

  .text-primary {
    color: var(--primary-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
